/* please dont judge my css */

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
}

@font-face {
  font-family: Ginto;
  src: url("/css/fonts/ABCGintoNordEdu-Regular.otf");
}

p {
  font-family: Ginto;
  font-size: 10pt;
}

a {
  font-family: Ginto;
  color: black;
  text-decoration: underline;
}

a:link {
  text-decoration: underline;
}

a:hover {
  color: gray;
}

#programm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 95%;
}

#sketch-container {
  display: flex;
  height: 80vh;
  width: 80vh;
  touch-action: none;
}

#content {
  display: flex;
  width: 80vh;
  margin: 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.control {
  width: 100%;
  background-color: white;
  padding: 5px;
}

#settings {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  width: auto;
}

button {
  background-color: black;
  display: inline;
  font-size: 16px;
  font-family: Ginto;
  padding: 10px;
  height: 40px;
  width: 40px;
}

button:hover {
  background-color: grey;
}

button:active {
  background-color: darkgrey;
}

label {
  background-color: black;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  height: 40px;
}

label:hover {
  background-color: grey;
}

label:active {
  background-color: darkgrey;
}

#image-upload>input {
  display: none;
}

#color-picker>input {
  display: none;
}

#image-upload {
  height: 100%;
}

#color-picker {
  height: 100%;
}

canvas {
  display: block;
}


@media only screen and (max-width: 1000px) {
  #sketch-container {
    height: 85vw;
    width: 85vw;
  }

  #content {
    width: 85vw;
    align-items: center;
  }

  #settings {
    width: 100%;
  }
}

@media only screen and (min-width: 1000px) {
  #programm {
    flex-direction: row;
  }

  #content {
    height: 80vh;
  }

  .control {
    flex-grow: 0;
  }
}

#overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
}

img {
  width: 100%;
  height: 100%;
}

#window {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255);
  width: 100%;
  height: auto;
  margin: 20px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

#topbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 10px;
  border-bottom: solid;
  border-width: 1px;
  border-color: black;
  background-color: white;
  z-index: 1;
}

.cross {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  padding: 5px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
}

.cross:hover {
  background-color: rgb(245, 44, 44);
}

.cross:active {
  background-color: rgb(252, 96, 96);
}